<!-- 
  By convention a template that is intended to be used only inside another template will have 
  a leading underscore in its name. These are sometimes called partial templates, or partials.  
-->

<!-- Game status, input field, and buttons -->
<!-- hangman view is automatically available -->

<p>
  Turns left: <%= @tally.turns_left %>
</p>

<p>
  Word so far: <%= @tally.letters |> Enum.join(" ") %>
</p>

<%= if game_over?(@tally) do %>
  <p/>
    Word to guess: <%= Enum.join @tally.word %>
  <p/>
  <%= new_game_button(@conn) %>
<% else %>
  <!-- 
    Another way to populate the params map is using a submitted form.
    Each field in the form has a name and a value, and those are used to populate a map when the form is submitted.
    When you create the form using form_for, you use the as: name option to specify a name for that map.
    Note: f corresponds to the information in the form. 

    Data from this form would appear in the params map like this:
    %{"make_move" => %{"guess" => "a"}}
  -->

  <%= form_for(@conn, hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn f -> %>
    <%= text_input(f, :guess) %>
    <%= submit("Make next move") %>
  <% end) %>
<% end %>
