<h1>Hangman Game</h1>

<!-- render the game state status bar -->
<!-- function is automatically found in game_state_helper -->
<%= game_state(@tally.game_state) %>

<!--
<p/>
  Tally Map: <%= inspect @tally %>
<p/>
-->

<!-- render the gallows image on the right -->
<!-- and the game status, input field, and buttons on the left -->
<!-- at medium size and above the image gets 4/12ths of the screen -->
<!-- while the game status gets 7/12ths of the screen plus 1 offset for a gap between the two -->
<!-- below a medium screen size the image will be on top of the game status -->
<div class="row">
  <div class="col-md-4">
    <%= render "_gallows.html", left: @tally.turns_left %>
  </div>
  <div class="col-md-7 offset-md-1">
    <%= render "_game_status.html", tally: @tally, conn: @conn %>
  </div>
</div>

